@page "/"

<PageTitle>Home</PageTitle>

<h1>ברוכים הבאים לאפליקציה</h1>

<div class="home-page">
    <h2>בחר</h2>
    <p>press signup or login</p>
    <NavLink href="/login" class="btn btn-primary">התחברות</NavLink>
    <NavLink href="/signup" class="btn btn-success">הרשמה</NavLink>
</div>

@code {
    // קוד דף הבית אם צריך
}
