<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Blazor App</title>

    <!-- קישורים ל-CSS -->
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="Interactive" />
    </app>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
