@page "/login"

<h3>התחברות</h3>

<div class="login-page">
    <label for="loginEmail">אימייל</label>
    <input type="email" id="loginEmail" @bind="loginEmail" class="form-control" />
</div>

<div>
    <label for="loginPassword">סיסמא</label>
    <input type="password" id="loginPassword" @bind="loginPassword" class="form-control" />
</div>

<button class="btn btn-success" @onclick="HandleLogin">התחבר</button>

@if (isLoginSuccess)
{
    <p class="text-success">התחברת בהצלחה!</p>
}

@code {
    private string loginEmail = string.Empty;
    private string loginPassword = string.Empty;
    private bool isLoginSuccess = false;

    private void HandleLogin()
    {
        isLoginSuccess = true;
    }
}
